CacheControl==0.12.5
cachetools==3.1.1
chardet==3.0.4
Click==7.0
Cython==0.29.15
dill==0.3.1.1
dyNET==2.1
entrypoints==0.3
flake8==3.7.8
Flask==1.1.1
Flask-Cors==3.0.8
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
klepto==0.1.8
lazy-object-proxy==1.4.2
macholib==1.11
markovify==0.7.2
mccabe==0.6.1
mecab-python3==0.996.2
msgpack==0.6.2
nagisa==0.2.5
pox==0.2.7
protobuf==3.18.3
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycodestyle==2.5.0
pykakasi==1.2
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
semidbm==0.5.1
six==1.12.0
soupsieve==1.9.5
